.input-margin {
  margin: 20px;
}

.select-file{
  margin: 30px 
}

.space-button-form {
  margin: 20px 0;
}

.radio{
  margin: 0;
  padding: 7px 0;
  margin-left: 12px;;
}
.radio-label{
  margin: 0;
  padding: 7px 0;
  margin-left: 2px;
}
@media screen and (max-width: 767px) {
  .center-content {
  }
}
