/* * {
  margin: 0;
  padding: 0;
  background-color: rgb(181, 181, 181);
} */

@font-face {
  font-family: comfortaa;
  src: url(../../../assets/fonts/ComfortaaBold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../../../assets/fonts/RobotoRegular.ttf);
}

.container-adjustment {
  padding: 0;
}

.mainPage {
  text-align: center;
  /* background: lightgray; */
}

.overlay {
  min-height: 100vh;
  z-index: -1;
  position: absolute;
  width: 100%;
  background: rgb(255, 255, 255)
  
  /* linear-gradient(0deg, rgba(249, 249, 249, 0.18), rgba(191, 191, 191, 0.5)), */
    /* url("../../../assets/main1.jpg") */
    ;
    height: 100%;
  background-size: 100%;
}


.mainPage__logo {
  /* color: white; */
  padding-top: 20vh;
}

.homy__logo {
  font-family: comfortaa;
  font-size: 120px;
  /* line-height: 110%; */
  background: -webkit-radial-gradient( left, #9c27b0, #f1356d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homy__intro__text {
  font-family: roboto, sans-serif, Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 60%;
  color:#090909
}

.homyText {
  font-family: comfortaa;
  font-size: 150px;
  line-height: 110%;
}


.buttonGetStarted {
  /* font-family: roboto; */
  /* background-color: #545454; */
  border: 0px;
  border-radius: 40px;
  font-family: roboto, sans-serif Arial;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: -webkit-radial-gradient( left, #9c27b0, #f1356d);
  background-clip: none;
  -webkit-fill-color: transparent;
}

.button-adjustment {
  padding-top: 5vh;
  width: 100%;
}

.buttonGetStarted {
  margin-top: 20vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
}

@media screen and (max-width: 300px) {
  .button-adjustment {
    width: 100%;
    bottom: 0;
    position: fixed;
  }

  /* .buttonGetStarted {
    font-family: Arial, roboto;
    font-size: 20px;
    width: 100%;
    padding: 30px;
  } */

  .homyText {
    font-size: 60px;
  }

  .homyTextIntro {
    font-size: 25px;
  }
}
