@font-face {
    font-family: comfortaa;
    src: url(../../../assets/fonts/ComfortaaBold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../../assets/fonts/RobotoBlack.ttf);
}

.jumbotron {
    background: url('../../../assets/main1.jpg') no-repeat fixed top;
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: -2;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.overlay {
    background-color: white;
    opacity: 0.1;
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    z-index: -1;
}

.mainPageLogo {
    padding-top: 30vh;
}

.homyText {
    font-family: comfortaa;
    font-size: 60px;
    line-height: 110%;
}
.homyTextIntro {
    font-family: comfortaa;
    font-size: 25px;
    line-height: 60%;
}

.LoginPageBottom {
    height: 20vh;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    border: 3px solid green;
}

.buttonGetStarted {
    height: 60px;
    width: 300px;
    font-family: Arial, "roboto";
    font-size: 25px;
    position: relative;
    top:25%;
}

