.input-custom-details {
  border: 1px solid grey;
  border-radius: 20px;
}

span.style-tag-resident {
  width: auto;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 20px;
}

span.style-tag-manager {
  width: auto;
  margin: 10px;
  background-color: rgba(173, 216, 230, 0.438);
  border-radius: 20px;
}
